<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="jquery.fullpage.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
</head>

<body>
    <div class="header">
        <nav>
            <div class="nav-wrapper">
                <div class="nav-content">
                    <a href="#" class="brand-logo"><img class="maturanclogo" src="slike/MATURANC.png" /></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="dropdown-button" data-beloworigin="true" data-hover="true" data-activates="dropdown1" href="#">Maturantski ples</a></li>
                        <li><a href="#">Trgovina</a></li>
                        <li><a href="#">Izlet</a></li>
                        <li><a class="btn waves-effect waves-light" href="#">Prijava</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a class="dropdown-button" data-beloworigin="true" data-hover="true" data-activates="dropdown1" href="#">Maturantski ples</a></li>
                        <li><a href="#">Trgovina</a></li>
                        <li><a href="#">Izlet</a></li>
                        <li><a class="btn waves-effect waves-light" href="#">Prijava</a></li>
                    </ul>
                    <ul id='dropdown1' class='dropdown-content'>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'iskanje' %}">Iskanje soplesalcev</a></li>
                        {% else %}
                        <li><a href="#modal1" class="modal-trigger">Iskanje soplesalcev</a></li>
                        {% endif %}
                        <li><a href="#">Plesne šole</a></li>
                </div>
            </div>
        </nav>
    </div>
    <div id="fullpage">
        <div class="section">

            <div class="domovbanner valign-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <center>

                                <img class="responsive-img maturancdomov" src="slike/MATURANC-rdeci.png" />
                                <h1 class="ralewaynaslov">Želiš plesati na maturancu a nimaš soplesalca?</h1>
                                <a href="#" class="btn waves-effect waves-light inverzno">Poišči soplesalca</a>


                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="belabg domov-funkcija section" id="iskanje">
            <div class="container">
                <div class="domovfunkcije ">
                    <div class="row " style="margin: 0px">
                        <div class="col s12 naslovfunkcijelevo">
                            <h1 class="funkcije-strani rdeca">Iskanje<br>soplesalcev</h1>
                        </div>
                        <div class="col s12 m5 stolpeccrta ">
                            <div class="crtastolpec modrabg"></div>

                        </div>
                        <div class="col s12 m7 stolpectext ">
                            <h2 class="modra">Iskanje soplesalcev omogoča iskanje med registriranimi uporabniki, ki prav tako nimajo soplesalcev.</h2>
                            <p class="modra">V iskanje je vgrajen filter s katerim lahko iščemo po višini plesalca, po regiji in po srednji
                                šoli. Med rezultati lahko vidiš profile, ki so na voljo. Na profilih se najprej prikaže slika
                                in ime. S klikom na profil izvemo še nekaj več informacij, če kliknemo na gumb pojdi na profil
                                si lahko ogledamo vse informacije, ki jih je uporabnik objavil. Med njimi so tudi kontaktni
                                podatki in vgrajen klepet.</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="rdecabg domov-funkcija section" id="plesnesole">
            <div class="container">

                <div class="domovfunkcije">
                    <div class="row" style="margin: 0px">
                        <div class="col s12 naslovfunkcijedesno">
                            <h1 class="funkcije-strani">Plesne<br>šole</h1>
                        </div>
                        <div class="col s12 m5 stolpeccrta right">
                            <div class="crtastolpec"></div>

                        </div>
                        <div class="col s12 m7 stolpectext">
                            <h2>Plesne šole bodo ponujale možnost registracije skrbniških računov za plesne šole</h2>
                            <p>Plesne šole bodo ponujale možnost registracije skrbniških računov za plesne šole. Z njimi bodo
                                lahko plesne šole direktno obveščale njihove plesalce. Uporabniški računi plesalcev bodo
                                v nastavitvah lahko izbirali med plesnimi šolami, ki so registrirane in ko bodo izbrali eno
                                izmed njih bodo naročeni na sporočila, ki jih bo pošiljala plesna šola.
                        </div>


                    </div>
                </div>


            </div>
        </div>
        <div class="belabg domov-funkcija section" id="prodaja">
            <div class="container">
                <div class="domovfunkcije">
                    <div class="row" style="margin: 0px">
                        <div class="col s12 naslovfunkcijelevo">
                            <h1 class="funkcije-strani rdeca">Prodaja<br>potrebščin</h1>
                        </div>
                        <div class="col s12 m5 stolpeccrta ">
                            <div class="crtastolpec modrabg"></div>

                        </div>
                        <div class="col s12 m7 stolpectext ">
                            <h2 class="modra">Pod kategorijo prodaja se nahaja spletna trgovina rabljenih izdelkov.</h2>
                            <p class="modra">Trgovino je namenjena predvsem dijakom. Po končanem šolanju ti ostanejo učbeniki in ostale šolske
                                potrebščine, ki jih lahko prodaš naslednjim generacijam.</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="rdecabg domov-funkcija section" id="izlet">
            <div class="container">

                <div class="domovfunkcije">
                    <div class="row" style="margin: 0px">
                        <div class="col s12 naslovfunkcijedesno">
                            <h1 class="funkcije-strani">Maturantski<br>izlet</h1>
                        </div>
                        <div class="col s12 m5 stolpeccrta right">
                            <div class="crtastolpec"></div>

                        </div>
                        <div class="col s12 m7 stolpectext">
                            <h2>S področjem maturantski izleti želiva izboljšati komunikacijo med maturanti in turističnimi agencijami.</h2>
                            <p>Agencije bi imele svoje skrbniške račune s katerimi bi lahko urejale tekoče ponudbe in obveščale
                                maturante. Uporabniki bi se lahko na izlete prijavili preko spletne aplikacije hkrati bi
                                lahko dobili vse ponudbe na enem mestu in jim nebi bilo potrebno toliko iskati.</p>
                        </div>


                    </div>
                </div>


            </div>

        </div>

        <footer class="page-footer section fp-auto-height" >

            <div class="row">
                <div class="col l6 s12">

                    <ul class="socialmedianoga">
                        <li>
                            <a href="#"> <img class="maturanclogonoga" src="slike/MATURANC.png" /></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.facebook.com/maturanc/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/maturancc" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.instagram.com/maturancc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <span class="copyrights"> © 2017 Maturanc.com</span>
                </div>
            </div>

        </footer>
        <!--
        <div class="maturancnoga">
            <div class="row" style="margin:0px; padding: 0px;">
                <div class="col s12 m6">
                    <ul class="socialmedianoga">
                        <li><a href="#"> <img class="maturanclogonoga" src="slike/MATURANC.png"/></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/maturanc/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/maturancc" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/maturancc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col s12 m6 right-align">
                   <span class="copyrights"> © 2017 Maturanc.com</span>
                </div>
            </div>
        </div>
       -->

    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="jquery.fullpage.min.js"></script>


    <script>
        $('.button-collapse').sideNav();
        $(document).ready(function () {
            $('#fullpage').fullpage({ function(){
                $('.header').addClass('fixed');
            }
                
            });
        });
    </script>
</body>

</html>