nav{
    height: 100px; 
    line-height: 100px; 
    background: #2C288A !important; 
    box-shadow: 0 0 0 0 !important;
}

nav ul li{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-content{
    margin: 0 80px;
}
#mobile-demo li{
    text-transform: none !important;
}

.dropdown-content li a{
    font-size: 15px !important;
}
.dropdown-content a {
    color: #E03D4A !important;
}
footer {
    background: #2C288A !important;
    margin-top:0px !important;
}
.button-collapse{
    height: 100px !important;
    line-height: 100px !important;

}
.button-collapse i.material-icons{
    height: 100px !important;
    line-height: 100px !important;
    font-size: 28pt !important;
    padding-left:20px;
}
.btn{
    border-radius: 0px;
    background: #E03D4A !important;
}
.inverzno{
    border: #E03D4A solid 4px;
    background: transparent !important;
    height: 75px;
    line-height: 67px;
    font-weight: bold;
    margin: 15px 0 0 0;
}
.inverzno:hover{
    background: #E03D4A !important;
}
.ralewaynaslov{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    font-size: 21.5pt;
    letter-spacing: 1px;
}
.domovbanner{
        
        height: 100vh;
        background: #2C288A;
    }
/*Funkcije strani*/
.domovfunkcije{
    
    margin: auto;
    padding: 100px 17px;
}
.domov-funkcija{
    height: 100vh;
}
.domovfunkcije h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: #2C288A;
    
    margin-top: 0px !important;
    
}
.naslovfunkcijelevo{
    text-align: left;
}
.naslovfunkcijedesno{
    text-align: right;
}
.stolpeccrta{
    
}
.crtastolpec{
    background: #fff;
    height:20px;
    width: 100%;
    margin-top:5px;
    margin-bottom: 10px;
}
.stolpectext{
    font-family: 'Raleway', sans-serif;
    
    color: #fff;
}
.stolpectext h2{
    margin-top:0px !important;
    font-family: 'Raleway', sans-serif;
    font-size: 17pt;
    color: #fff;
    line-height: 23pt;
    font-weight: 800;
    
}
.stolpectext p{
    font-family: 'Roboto Slab', serif;
    font-size:  12pt;
    font-weight: 300;
}
/*Barve funkcij*/
.belabg{
    background: #fff !important;
   
}
.modrabg{
    background: #2C288A!important;
   
}
.rdecabg{
    background: #E03D4A !important;
   
}
.modra{
     color:#2C288A !important;
}


.rdeca{
    color:#E03D4A !important;
}

/*slider*/
.bx-wrapper{
    border: 0px !important;
    width: 100% !important;
    box-shadow: 0 0 !important;
}



/* noga*/
.page-footer{
        
        margin: 0px;
}
.maturancnoga{
    background: #2C288A ;
    padding: 20px 80px;
}


.socialmedianoga li{
    display: inline;
    
}
.socialmedianoga li i:hover{
   
    color: white;
    background: #E03D4A;
   
}


.socialmedianoga li i{
    border-radius: 50%;
    background: white;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: #2C288A;
    margin: 5px;
    text-align: center;
    font-size: 12pt;
}
.maturanclogonoga{
    margin: 0 40px 0 0;
    height: 14px;
    width: auto;
    line-height: 30px;
}
.copyrights{
    display: block;
    line-height: 40px;
    color: white;
    font-size: 10pt;
    font-weight: 100;
    height: 40px;
    margin: 1em 0;
    text-align: right;
    
}
#izleti.fp-tableCell{
    margin-bottom: 0px !important;
}

/*Najmanjši ekran*/
@media screen and (max-width:600px) {
    .inverzno{
        border: #E03D4A solid 4px;
        height: 50px;
        line-height: 42px;
        font-size: 8pt;
    
    }
    .ralewaynaslov{
        
         font-size: 12pt !important;
         line-height: 130%;
         padding:0 17px !important;
    }
    .maturancdomov{
        margin: 0 0 20px 0 !important;
        padding: 0 17px !important;
    }
    .maturanclogo{
        margin:40px 0px 40px 0px; 
        height:20px; 
        width: auto; 
    }
    .page-footer{
        padding: 20px 10px !important;
        
    }
    .maturanclogonoga{
        margin: 0 20px 0 0;
    }
    .nav-content{
        margin: 0 !important;
    }
    .domovfunkcije h1{
            font-size: 3em;
    }

    
    
}

/*Srednji ekran*/
@media screen and (max-width:991px) {
    .maturancdomov{
        margin: 0 0 50px 0;
        padding: 0 30px;
    }
    .ralewaynaslov{
        
        font-size: 3.2vw;
        padding:0 30px;
    }
    
    .maturanclogo{
        margin:40px 0px 40px 0px; 
        height:20px; 
        width: auto; 
    }
        .socialmedianoga{
        text-align: center;
    }
    .copyrights{
        text-align: center;
    }
    .page-footer{
        padding: 20px 40px ;
       
        
}
.nav-content{
    margin: 0 !important;
}
 .maturancdomov{
        margin: 0 0 30px 0 !important;
        padding: 0 17px !important;
    }
   
}
/*Največji ekran*/
@media screen and (min-width:992px) {
    .maturanclogo{
        margin:40px 0px 40px 0; 
        height:20px; 
        width: auto; 
    }
/*    .maturancdomov{
        margin: 17vh 0 50px 0;
        
    }*/
    .domovbanner{
        min-height: 700px;
    }
    .page-footer{
        padding: 20px 80px;
        
    }
    .domovfunkcije h1{
        font-size: 7em;
    }

}
.header{
    -webkit-transition: all 0.7s ease;  
    -moz-transition: all 0.7s ease;  
      -o-transition: all 0.7s ease; 
         transition: all 0.7s ease; 

    position:absolute;
    top:100%;
    margin-top: -100px;
    left:0;
    background:#000;
    width:100%;
    color: #fff;
    height: 100px;
    z-index:999;
}
.header.fixed{
    bottom:auto;
    top:0;
    margin-top: 0;
}
